### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.bbl
*.bcf
*.blg

## Intermediate documents:
*.dvi
*-converted-to.*

### Editor ###
## Vim, Emacs, VS Code temp files:
.*sw[op]
*~
*.run.xml
*.fdb_latexmk
*.synctex.gz

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store

