name: Compile PDFs

on:
  push: {}
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    container: texlive/texlive:latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install fonts
      run: |
        apt update
        apt install --yes \
          fonts-roboto \
          fonts-sourcesanspro \
          ;

    - name: Compile
      run: make

    - uses: actions/upload-artifact@v4
      with:
        name: examples
        path: examples/*.pdf
